<h2>Available Cars</h2>

<div class="row">

<div class="col-md-4"
ng-repeat="car in cars">

<div class="card mb-3">

<img ng-src="{{car.image}}" class="card-img-top">

<div class="card-body">

<h5>{{car.brand}} {{car.model}}</h5>

<p>Year: {{car.year}}</p>

<p>Price/day: ${{car.price_per_day}}</p>

<input type="date" ng-model="pickup">
<input type="date" ng-model="return">

<button class="btn btn-primary mt-2"
ng-click="book(car)">
Book
</button>

</div>

</div>

</div>

</div>