<div class="col-md-4 offset-md-4">

<h3>Signup</h3>

<form ng-submit="signup()">

<input class="form-control mb-2"
placeholder="Name"
ng-model="user.name">

<input class="form-control mb-2"
placeholder="Email"
ng-model="user.email">

<input class="form-control mb-2"
type="password"
placeholder="Password"
ng-model="user.password">

<input class="form-control mb-2"
placeholder="Phone"
ng-model="user.phone">

<button class="btn btn-success w-100">
Create Account
</button>

</form>

</div>